@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Barlow:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #333D4B; 
  --color-secondary: #83888f; 
  --color-accent: #0e8784; 
  --color-text: #fefcf7;
  --color-text-secondary: #fdd6ba;
}

body {
  font-family: 'Barlow', sans-serif;
  color: rgb(var(--color-primary));
}

.heading {
  font-family: 'Fraunces', serif; 
}

.text-primary {
  color: var(--color-primary);
}

.mobile-menu-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(254,252,247,0.6006) 100%);
}

.desktop-menu-text {
  font-size: 12px;
  font-weight: bold;
}