@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Barlow:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #333D4B; 
  --color-secondary: #83888f; 
  --color-accent: #0e8784; 
  --color-text: #fefcf7;
  --color-text-secondary: #fdd6ba;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: rgb(var(--color-primary));
}

h1 {
  font-size: 72px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

.navigation {
  font-size: 12px;
  line-height: 15px;
}

.heading {
  font-family: 'Fraunces', serif; 
}

.body-text {
  font-size: 15px;
  line-height: 25px;
}

.text-primary {
  color: var(--color-primary);
}

.color-text {
  color: var(--color-text);
}

.title-font {
  font-size: 150px;
  line-height: 72px;
}

.mobile-menu-bg {
  height: 500px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(254,252,247,0.6006) 100%);
}

.desktop-menu-text {
  font-weight: bold;
  color: var(--color-secondary);
}

.hero-container {
  margin: 1.5rem;
  border-radius: 10px;
  height: 500px;
}

.hero-background-image {
  background-image: url("/assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
}

.hero-container-body {
  padding: 20px;
  text-align: center;
}

.hero-description {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.btn-primary {
  color: var(--color-text);
  background-color: var(--color-accent);
  width: 220px;
  height: 55px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .hero-container-body {
    margin-left: 58px;
    padding: 0;
    width: 400px;
    text-align: left;
  }

  .hero-title {
    width: 330px;
  }

  .hero-background-image {
    background-image: url("/assets/home/tablet/image-hero-coffeepress.jpg");
    background-size: cover;
  }

  .btn-primary {
    align-self: start;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container-body {
    gap: 36px;
  }

  .hero-title {
    width: 40vw;
    font-size: 72px;
    line-height: 72px;
  }

  .hero-background-image {
    background-image: url("/assets/home/desktop/image-hero-coffeepress.jpg");
    background-size: cover;
  }
}

.collection-container {
  margin-top: 124px;
  margin-bottom: 124px;
}

.products-container {
  flex-direction: column;
  margin: 0 40px;
}

.collection-title {
  text-align: center;
  width: 100%;
  background: -webkit-linear-gradient(rgb(131,136,143,0.6006), var(--color-text));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-container {
  margin: 48px 24px;
}

.product-image {
  align-self: center;
}

.product-container-body {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.product-heading {
  font-size: 24px;
  line-height: 34px;
}

@media screen and (min-width: 768px) {
  .collection-container {
    margin-top: 80px;
  }

  .collection-title {
    position: absolute;
    bottom: 220px;
    padding-top: 20px;
    height: 120px;
    font-size: 96px;
    z-index: -1;
    background: -webkit-linear-gradient(rgb(131,136,143,0.6006), var(--color-text) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .product-container {
    flex-direction: row;
    justify-content: center;
  }

  .product-container-body {
    width: 285px;
    margin-left: 36px;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .collection-title {
    bottom: 64px;
  }

  .collection-container {
    margin: 256px auto;  
  }

  .products-container {
    flex-direction: row;
  }

  .product-container {
    flex-direction: column;
  }

  .product-container-body{
    width: auto;
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  .collection-title {
      top: 840px;
   }
}

.choose-us-section {
  margin: auto 24px;
  background-color: var(--color-primary);
  border-radius: 10px;
  height: 902px;
}

.choose-us-body-text-container {
  color: var(--color-text);
  text-align: center;
  margin: 0 24px;
  padding-top: 1px;
}

.cards-container {
  position: absolute;
  padding: 0 36px;
  top: 325px;
}

.card-container {
  background-color: var(--color-accent);
  border-radius: 10px;
}

.card-body {
  color: var(--color-text);
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .choose-us-section {
    height: 688px;
  }

  .choose-us-section {
    margin: auto 40px;
  }

  .card-container {
    flex-direction: row;
    justify-content: space-around;
    margin: auto 58px;
    padding: 48px 40px;
  }

  .card-body {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {

  .choose-us-body-text-container {
    margin: auto 164px;
  }
  
  .cards-container {
    width: 92vw;
  }

  .card-container {
    justify-content: space-around;
  }

  .card-image-container {
    width: 72px;
  }
  
  .card-image {
    width: 72px;
    height: 72px;
  }

  .card-body {
    width: 345px;
  }
}

@media screen and (min-width: 1440px) {
  .choose-us-section {
    height: 550px;
    padding: 0 85px;
  }

  .choose-us-body-text-container {
    margin: auto 350px;
  }

  .cards-container {
    flex-direction: row;
  }
  
  .card-container {
    flex-direction: column;
    padding: auto 48px;
    margin: 0;
    width: 350px;
    height: 382px;
  }

  .card-body {
    width: auto;
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  .cards-container {
    flex-direction: row;
    left: 320px;
  }
}

.section-container {
  margin-top: 720px;
}

.section-card-container {
  text-align: center;
}

.section-card-body-text {
  font-size: 15px;
  line-height: 25px;
}

.section-button {
  margin-top: 24px;
  align-self: center;
}

@media screen and (min-width: 768px) {  
  .section-container {
    margin-top: 512px;
  }

  .section-title {
    align-self: self-start;
  }

  .break-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73vw;
    margin-left: 10px;
  }
  
  .circle {
    width: 31px;
    height: 31px;
    border: 2px solid var(--color-accent);
    border-radius: 50%; 
  }
  
  .line {
    flex-grow: 1; 
    height: 2px; 
    background-color: var(--color-text-secondary); 
  }

  .section-cards-container {
    flex-direction: row;
  }

  .section-card-container {
    text-align: left;
  }

  .section-button {
    align-self: self-start;
  }
}

@media screen and (min-width: 1024px) {
  .section-title {
    padding-left: 40px;
  }

  .section-cards-container, .break-row {
    margin: 24px 40px;
  }

  .break-row {
    width: 70vw;
  }

  .section-button {
    margin: 18px;
  }
}

.footer-container {
  margin-top: 124px;
}

@media screen and (min-width: 1440px) {
  .section-container {
    margin-top: 420px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 54px 225px;
  }
  .nav-menu {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    margin: 80px 24px;
  }

  .socials-container {
    margin-left: auto;
  }

  .footer-nav-menu {
    padding-top: 7px;
  }
}

.about-banner-container {
  background-image: url("/assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  margin: auto 24px;
  padding: 90px 24px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .about-banner-container {
    background-image: url("/assets/about/tablet/image-hero-whitecup.jpg");
    background-size: cover;
  }

  .about-banner-title, .about-banner-body {
    text-align: left;
  }

  .banner-text-container {
    width: 56vw;
  }
}

@media screen and (min-width: 1440px) {
  .about-banner-container {
    background-image: url("/assets/about/desktop/image-hero-whitecup.jpg");
    background-size: cover;
  } 

  .banner-text-container {
    margin: 137px 85px;
    width: 32vw;
  }

  .about-banner-body {
    font-size: 16px;
    line-height: 26px;
  }
}


@media screen and (min-width: 768px) {
  .commitment-section {
    flex-direction: row;
    justify-items: space-evenly;
    justify-content: center;
    align-content: center;
  }

  .image-container {
    background-image: url("/assets/about/tablet/image-commitment.jpg");
    background-size: cover;
    width: 281px;
    height: 470px;
    border-radius: 8px;
  }

  .commitment-body-container {
    text-align: left;
    width: 339px;
  }
}

@media screen and (min-width: 1440px) {
  .commitment-section {
    justify-content: space-evenly;
    margin: 125px 0;
  }

  .image-container {
    background-image: url("/assets/about/desktop/image-commitment.jpg");
    background-size: cover;
    width: 445px;
    height: 520px;
    border-radius: 8px;
  }

  .commitment-body-container {
    align-self: center;
    width: 540px;
  }

  .commitment-body-container > h3 {
    font-size: 40px;
    line-height: 48px;
  }

  .commitment-body-container > p {
    font-size: 16px;
    line-height: 26px;
  }
}

.about-quality-story-container {
  margin: 150px 24px;
  height: 510px;
  padding: auto 24px;
  border-radius: 8px;
}

.about-quality-img-container {
  border-radius: 8px;
  left: 24px;
  bottom: 440px;
}

.about-quality-body-container {
  padding-top: 120px;
}

@media screen and (min-width: 425px) {
  .about-quality-img-container {
    left: 48px;
  }
}


@media screen and (min-width: 768px) {
  .about-quality-story-container {
    margin-top: 350px;
  }

  .about-quality-img-container {
    background-image: url("/assets/about/tablet/image-quality.jpg");
    background-size: cover;
    width: 573px;
    height: 320px;
    bottom: 350px;
    left: 75px;
  }

  .about-quality-body-container {
    padding: 200px 74px 48px 74px;
  }
}

@media screen and (min-width: 1024px) {
  .about-quality-img-container {
    left: 204px;
   }
 }

 @media screen and (min-width: 1440px) {
  .about-quality-img-container {
    background-image: url("/assets/about/desktop/image-quality.jpg");
    background-size: cover;
    width: 445px;
    height: 474px;
    bottom: 150px;
    left: 800px;
  }

  .about-quality-body-container {
    padding: 150px 750px 176px 85px;
  }

 }

 @media screen and (min-width: 1920px) {
  .about-quality-img-container {
    left: 1150px;
  }

  .about-quality-body-container {
    padding: 150px 1000px 176px 85px;
  }
 }

 .headquarters-contact-text {
  color: var(--color-primary);
  font-weight: 300;
 }

 .country-container > h4 {
  font-size: 28px;
  line-height: 36px;
 }

 @media screen and (min-width: 768px) {
  .headquarters-container {
    margin: auto 32px;
  }

  .countries-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .country-container > h4 {
    font-size: 24px;
    line-height: 36px;
   }
  
  .country-container {
    text-align: left;
  }
  .headquarters-title {
    text-align: left;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .countries-container {
    gap: 124px;
  }
 }

 @media screen and (min-width: 1440px) {
  .headquarters-container {
    padding: 165px;
  }
 }
 
 .plan-banner-container {
  background-image: url("/assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  margin: auto 24px;
  height: 400px;
  border-radius: 8px;
 }

 .banner-body-container {
  margin: auto 24px;
 }

 @media screen and (min-width: 768px) {
  
 .plan-banner-container {
  background-image: url("/assets/plan/tablet/image-hero-blackcup.jpg");
  background-size: cover;
  background-position: right;
  height: 400px;
 }

  .banner-body-container {
    text-align: left;
    width: 50vw;
    margin-left: 48px;
  }

  .banner-body-container > h2 {
    font-size: 48px;
    line-height: 48px;
  }
 }

 @media screen and (min-width: 1024px) {
  .banner-body-container {
    width: 45vw;
    margin-left: 64px;
  }
 }

 @media screen and (min-width: 1440px) {
  .plan-banner-container {
    background-image: url("/assets/plan/desktop/image-hero-blackcup.jpg");
    background-size: cover;
    height: 450px;
   }

   .banner-body-container {
    width: 35vw;
    margin-left: 72px;
  }

  .banner-body-container > h2 {
    margin-bottom: 40px;
    font-size: 72px;
    line-height: 72px;
  } 
 }

 .plan-steps-container {
  margin: 200px auto;
 }

 .plan-card-container {
  text-align: center;
  padding: 24px
 }

 @media screen and (min-width: 768px) {

  .plan-steps-container {
    padding-top: 80px;
  }
    
  .plan-cards-container {
    flex-direction: row;
    height: 640px; 
  }

  .plan-card-container {
    text-align: left;
    padding: 18px
   }

 }

 @media screen and (min-width: 1440px) {
  .plan-steps-container {
    border-radius: 8px;
    margin-left: 24px;
    margin-right: 24px;
    height: 655px;
  }
  .plan-card-container {
    text-align: left;
    padding: 24px
   }
 }

 .plan-choice-section-container {
  margin-bottom: 120px;
 }

 .option-container {
  border-radius: 8px;
  background-color: #f4f1eb;
  padding: 24px;
  transition: background-color 0.3s ease-in;
 }

 .option-container:hover {
    background-color: var(--color-text-secondary);
 }

 .active {
  background-color: var(--color-accent);
 }

 .active:hover {
  background-color: #0a706f;
 }

 .active > h4, .active > p {
  color: var(--color-text);
 }

 .side-menu-text {
  display: none;
 }

 .choices-container {
  gap: 48px;
 } 

 @media screen and (min-width: 768px) {
  .options-container {
    flex-direction: row;
    height: 250px;
  }

  .option-container > h4 {
    margin: 24px auto;
  }

  .choices-container {
    width: 100%;
    gap: 24px;
  }

  .choice-option-title {
    justify-content: space-between;
  }

  .choice-option-title > h4 {
    font-size: 32px;
    line-height: 48px;
  }
 }

 @media screen and (min-width: 1440px) {
  .choices-container {
    margin: 165px 85px;
    justify-content: space-around;
  }

  .side-menu-container {
    color: var(--color-secondary);
  }

  .side-menu-underline {
    border-bottom: 1px solid #83888f;
  }
  
  .plan-options-container {
    width: 100%;
  }

  .side-menu-container {
    gap: 24px;
    margin: 0 125px;
  }

  .choices-container {
    margin: 0;
    justify-content: space-between;
  }

  .choice-option-title > h4 {
    font-size: 40px;
    line-height: 48px;
  }

  .choices-container {
    width: 60%;
    gap: 48px;
  }

  .side-menu-text {
    display: block;
    margin: 0 8px;
    font-size: 24px;
    line-height: 32px;
    color: #83888f8b;
    cursor: pointer;
    transition: color 0.2s ease-in;
  }

  .side-menu-text:hover:nth-child(1) {
    color: #0e87859e;
  }

  .side-menu-text:hover:nth-child(2) {
    color: var(--color-secondary);
  }
  
    .preference-active:nth-child(1) {
      color: var(--color-accent)
    }

  .preference-active:nth-child(2) {
    color: var(--color-primary);
  }
 }
 
 .plan-summary-button-container {
  margin: auto 18%;
 }